<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.description }}</strong></li>
          <li><a href="{{ site.address }}" target="_blank">{{ site.address }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><strong>联系方式</strong></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/js/nav.js" defer></script>
